*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 50px;
  justify-content: center;
}
/*-------------------------------
        Header Design
 ----------------------------------*/
 .header{
  display: flex;
  justify-content: space-around;
  background-color: #0B0D17;
 }
 .header h1{
  padding: 10px;
  color: azure;
 }

 .header-btn{
  justify-content: space-evenly;
  padding: 10px;
 }
 .button-1 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 5px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button-1:hover {
  background-color: #555555;
  color: white;
}

 /*-------------------------------
        Banner Design
 ----------------------------------*/
.button-2{
  background-color:#669999 ;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
}
.button-2:hover{
  border: 2px solid #0B0D17;
  background-color: #336699;
}
.banner{
  width: 90%;
  height: 600px;
  background-image: url('image/donation7.jpg');
  background-size: 100%;
  margin: 50px auto;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}
.banner h1{
  text-align: center;
  color: #fff;
  padding-top: 200px;
}
.banner h2{
  color: #dcdcdc;
}

/*-------------------------------
        Donate Design
 ----------------------------------*/
 .donate{
  text-align: center;
  width: 82%;
  margin: auto;
  background-color: #d0d0e1;
  border-radius: 10px;
  padding: 20px;
 }
 .donate p{
  font-size: 18px;
  font-weight: 600;
  margin: 15px;
 }
 .input{
  text-align: center;
  border-radius: 5px;
  border-style: none;
  border-bottom: 2px solid grey;
  width: 600px;
  padding: 5px;
 }
/*-------------------------------
        Collection Design
 ----------------------------------*/
 .collection{
  margin: 50px auto;
}
 .collector{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  margin: 10px;
}
.title{
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.heading{
  margin: 10px auto;
}
.collection-box{
  width: 25%;
  padding: 20px;
  margin: 10px;
  background-color: honeydew;
  border-radius: 15px;
  box-shadow: 0 30px 35px rgba(0, 0, 0, .2);
}
.collection-box img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.collection-box img:hover {
  border: 2px solid #140033;
}
.collection-box h2{
  text-align: center;
}
/* .details{
  align-items: center;
  justify-content: center;
} */

.button-3{
  font-size: 1.3em;
  text-align: right;
  color:	#0066ff;
  margin: 0 30px;
}
.button-3:hover{
  font-size: 1.5em;
}
/*-------------------------------
        Gallary Design
 ----------------------------------*/
 .gallary{
  margin: 50px auto;
 }
.gallary h1{
  text-align: center;
}
 .gallary-pic{
  width: 80% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallary img{
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin: 15px;
}
.gallary img:hover {
  padding: 1px;
  border: 2px solid #140033;
  border-radius: 10px;
}

/*-------------------------------
        Mail Design
 ----------------------------------*/
.email{
  text-align: center;
  width: 82%;
  margin: auto;
  background-color: #d0d0e1;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 40px;
}
.email p{
  font-size: 18px;
  font-weight: 600;
  margin: 20px;
}
#mail{
  padding: 5px;
}
.send{
  padding: 5px 10px;
}
/*-------------------------------
        Footer Design
 ----------------------------------*/
.footer{
  background-color: #0B0D17;
  text-align: center;
  background-position: 10px 50px;
  color: ghostwhite;
  padding: 20px;
}
.foot{
  color:orangered ;
  padding: 20px;
}